<div class="container-fluid">
    <button type="button" class="button btn-admin" (click)="toggleAddTemplate()" [disabled]="formAddCategory.dirty || isUploaded">Додати категорію</button>
    <ng-container *ngIf="!addTemplateStatus">
        <div class="overflow-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Назва</th>
                        <th>Шлях</th>
                        <th>Картинка</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of adminCategories">
                        <td>№ {{category.id}}</td>
                        <td>{{category.name}}</td>
                        <td>{{category.road}}</td>
                        <td><img class="w-100" [src]="category.imagePath" alt="category"></td>
                        <td>
                            <button type="button" class="btn-table link-hover" (click)="editCategories(category)">Редагувати</button>
                            <button type="button" class="btn-table link-hover" (click)="deleteCategories(category)">Видалити</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-container *ngIf="addTemplateStatus">
        <form [formGroup]="formAddCategory" (ngSubmit)="editStatus ? updateCategories() : addCategories()">
            <div class="flex">
                <div class="mb-3">
                    <input type="text" class="form-control" id="categoryName" formControlName="name"
                        placeholder="*Назва">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="categoryRoad" formControlName="road"
                        placeholder="*Шлях">
                </div>
            </div>
            <ng-container *ngIf="!isUploaded">
                <div class="mb-3">
                    <input type="file" class="form-control" id="categoryFile" accept="image/*" (change)="upload($event)">
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar"  [style.width.%]="uploadPercent" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </ng-container>
            <ng-container *ngIf="isUploaded">
                <div class="image-preview">
                    <button type="button" class="button delete-btn" (click)="deleteImage(formAddCategory.value.imagePath)"><span>Видалити</span></button>
                    <img [src]="formAddCategory.value.imagePath" alt="category preview">
                </div>
            </ng-container>
            <button type="submit" class="button btn-admin" [disabled]="formAddCategory.invalid">Зберегти</button>
        </form>
    </ng-container>
</div>