<div class="container-fluid">
    <button type="button" class="button btn-admin" (click)="addCategory()">Додати категорію</button>
    <ng-container *ngIf="!statusAddBtn">
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Назва</th>
                    <th>Шлях</th>
                    <th>Картинка</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>№ 1</td>
                    <td>роли</td>
                    <td>rolls</td>
                    <td><img src="" alt="rolls"></td>
                    <td>
                        <button type="button" class="btn-table link-hover">Редагувати</button>
                        <button type="button" class="btn-table link-hover">Видалити</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-container *ngIf="statusAddBtn">
        <form [formGroup]="formAddCategory">
            <div class="d-flex">
                <div class="mb-3 w-50">
                    <input type="text" class="form-control" id="categoryName" formControlName="name"
                        placeholder="*Назва">
                </div>
                <div class="mb-3 w-50">
                    <input type="text" class="form-control" id="categoryRoad" formControlName="road"
                        placeholder="*Шлях">
                </div>
            </div>
            <!-- тут має бути загрузка файлу та progress bar -->
            <button type="button" class="button btn-admin" [disabled]="formAddCategory.invalid">Зберегти</button>
        </form>
    </ng-container>
</div>