@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';
@import '../../shared/styles/common';

* {
    p{
        color: $sec-text-color;
        font-size: 14px;
    }
}

footer {
    background-color: #fff;
    border-top: 4px solid $main-color;

    .footer-wrapper {
        max-width: 1920px;
        margin: 0 auto;
    }
}

.footer-top {
    @include d-flex(space-between, center);
    padding: 20px 35px;

    @include responsive(xxlarge) {
        padding: 15px 25px;

        .footer-info>*+* {
            margin-left: 20px;
        }
    }

    @include responsive(xlarge) {
        padding: 15px;
    }

    @include responsive(large) {
        justify-content: center;
    }

    @include responsive(medium) {
        flex-wrap: wrap;

        .footer-info>*+* {
            margin: 5px 0 0 0;
        }
    }

    .logo {
        max-width: 136px;

        @include responsive(xxlarge) {
            max-width: 123px;
        }

        @include responsive(xlarge) {
            max-width: 110px;
        }

        @include responsive(large) {
            margin: 0 auto;
        }

        @include responsive(medium) {
            flex-basis: 50%;
        }
    }

    .footer-menu {
        display: flex;

        @include responsive(large) {
            margin: 0 auto;
        }

        @include responsive(medium) {
            order: 1;
            flex-basis: 100%;
            justify-content: center;
            margin-top: 15px;
        }

        .footer-menu__item+.footer-menu__item {
            margin-left: 55px;

            @include responsive(xlarge) {
                margin-left: 25px;
            }
        }

        a {
            font-size: 16px;

            @include responsive(xxlarge) {
                font-size: 14px;
            }
        }

        a:hover {
            color: $main-color;
        }
    }

    .footer-info {
        @include d-flex(space-between, flex-start);
        max-width: 50%;
        width: 100%;

        @include responsive(large) {
            margin: 15px auto 0;
        }

        @include responsive(medium) {
            order: 2;
            flex-direction: column;
            align-items: center;
            max-width: none;
            margin-top: 10px;
        }

        .delivery-address li {
            color: $sec-text-color;
        }

        .order-phone a:hover {
            color: $main-color;
        }
    }

    .social {
        display: none;

        @include responsive(medium) {
            @include d-flex(center, flex-start);
            flex-basis: 100%;
            margin-top: 15px;

            &__title {
                display: none;
            }
        }
    }
}

.footer-bottom {
    @include d-flex(space-between, center);
    padding: 0 35px 20px;

    @include responsive(xxlarge){
        padding: 0 25px 15px;

        .copyright, .social__title{
            font-size: 12px;
        }
    }

    @include responsive(xlarge){
        padding: 0 15px 15px;
    }

    @include responsive(medium){
        flex-wrap: wrap;

        .copyright{
            order: 1;
        }

        .social {
            display: none;
        }
    }

    .pay-cards {
        @include d-flex(space-between, center);

        @include responsive(medium){
            order: 0;
            justify-content: center;
            column-gap: 5px;
            width: 100%;
            margin-bottom: 15px;
        }

        &-item {
            @include d-flex(center, center);
            @include square(69px, 39px, transparent);
            border: 1px solid #dcdcdc;
            border-radius: 5px;

            @include responsive(xxlarge){
                @include square(56px, 33px, transparent);
            }

            img {
                max-width: 45px;

                @include responsive(xxlarge){
                    max-width: 30px;
                }
            }
        }

        .pay-cards-item+.pay-cards-item{
            margin-left: 5px;
        }
    }
}

.social {
    @include d-flex(space-between, center);

    &__title {
        margin-right: 20px;

        @include responsive(xlarge){
            margin-right: 10px;
        }
    }

    .social-list {
        display: flex;

        .social-list-item+.social-list-item {
            margin-left: 5px;
        }

        .icon-btn {
            @include d-flex(center, center);
            @include square(49px, 49px, $main-color);
            @include border;
            transition: 0.35s;

            @include responsive(xxlarge){
                @include square(40px, 40px, $main-color);
            }

            @include responsive(xlarge){
                @include square(35px, 35px, $main-color);
            }

            img {
                @include square(18px, 18px, transparent);

                @include responsive(xxlarge){
                    @include square(12px, 12px, transparent);
                }
            }
        }

        .icon-btn:hover {
            background-color: #fff;
            border: 2px solid $main-color;
        }
    }
}