@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

footer {
    border-top: 4px solid $main-color;
    background-color: #fff;
    .footer-wrapper {
        max-width: 1920px;
        margin: 0 auto;
    }
}

.footer-top {
    @include d-flex(space-between, center);
    width: 100%;
    padding: 20px 35px;

    .logo {
        max-width: 136px;

        img {
            width: 100%;
        }
    }

    .menu-list {
        display: flex;

        .menu-item+.menu-item {
            margin-left: 55px;
        }

        a {
            font-size: 16px;
            line-height: 1em;
            transition: 0.35s;
        }

        a:hover {
            color: $main-color;
        }
    }

    .footer-info {
        @include d-flex(space-between, start);
        max-width: 43%;
        width: 100%;
        line-height: 1.25em;

        p {
            font-size: 14px;
        }

        b {
            color: $sec-text-color;
            font-family: 'RotondaC';
            font-size: 14px;
            transition: 0.35s;
        }

        .delivery-address {
            text-align: center;

            li {
                color: $sec-text-color;
                font-size: 14px;
            }
        }

        .order-phone {
            @extend .delivery-address;

            b:hover {
                color: $main-color;
            }
        }

        .work-time {
            @extend .delivery-address;
        }
    }

    .social {
        display: none;
    }
}

.footer-bottom {
    @include d-flex(space-between, center);
    padding: 0 35px 20px;

    .copyright p {
        font-size: 14px;
        color: $sec-text-color;
        white-space: nowrap;
    }

    .pay-cards {
        @include d-flex(space-between, center);

        &-item {
            @include d-flex(center, center);
            @include square(69px, 39px, transparent);
            border: 1px solid #dcdcdc;
            border-radius: 5px;

            img {
                max-width: 45px;
            }
        }
    }
}

.social {
    @include d-flex(space-between, center);

    span {
        margin-right: 20px;
        color: #252525;
        font-size: 14px;
    }

    .social-list {
        display: flex;

        li+li {
            margin-left: 5px;
        }

        .icon-btn {
            @include d-flex(center, center);
            @include square(49px, 49px, $main-color);
            @include border();
            transition: 0.35s;

            img {
                @include square(18px, 18px, transparent);
            }
        }

        .icon-btn:hover {
            background-color: #fff;
            border: 2px solid $main-color;
        }
    }
}

@media screen and (max-width: 1500px) {
    .footer-top {
        .footer-info {
            width: unset;
        }

        .footer-info>*+* {
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .footer-top {
        padding: 15px 25px;

        .logo {
            max-width: 123px;
        }

        .menu-list .menu-item a {
            font-size: 14px;
        }

        .footer-info>*+* {
            margin-left: 20px;
        }
    }

    .footer-bottom {
        padding: 0 25px 15px;

        .copyright p {
            font-size: 12px;
        }

        .pay-cards .pay-cards-item {
            @include square(56px, 33px, transparent);

            img {
                max-width: 30px;
            }
        }
    }

    .social {
        span {
            font-size: 12px;
        }

        .social-list .icon-btn {
            @include square(40px, 40px, $main-color);

            img {
                @include square(12px, 12px, transparent);
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .footer-top {
        padding: 15px;

        .logo {
            max-width: 110px;
        }

        .menu-list .menu-item+.menu-item {
            margin-left: 25px;
        }
    }

    .footer-bottom {
        padding: 0 15px 15px;
    }

    .social {
        span {
            margin-right: 10px;
        }

        .social-list .icon-btn {
            @include square(35px, 35px, $main-color);
        }
    }
}

@media screen and (max-width: 992px) {
    .footer-top {
        @include d-flex(center, center);

        .logo,
        .menu-list {
            margin: 0 auto;
        }

        .footer-info {
            margin: 15px auto 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer-top {
        justify-content: center;
        flex-wrap: wrap;

        .logo {
            flex-basis: 50%;
        }

        .menu-list {
            order: 1;
            flex-basis: 100%;
            justify-content: center;
            margin-top: 15px;
        }

        .footer-info {
            order: 2;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }

        .footer-info>*+* {
            margin: 5px 0 0 0;
        }

        .social {
            @include d-flex(center, start);
            flex-basis: 100%;
            margin-top: 15px;

            span {
                display: none;
            }
        }
    }

    .footer-bottom {
        flex-wrap: wrap;

        .copyright {
            order: 1;
        }

        .pay-cards {
            order: 0;
            justify-content: center;
            column-gap: 5px;
            width: 100%;
            margin-bottom: 15px;
        }

        .social {
            display: none;
        }
    }
}