<footer>
    <div class="footer-wrapper">
        <div class="footer-top">
            <a class="logo" [routerLink]="[ '/' ]"><img class="w-100" src="assets/images/logo.svg" alt="logo"></a>
            <ul class="footer-menu">
                <li class="footer-menu__item"><a [routerLink]="[ 'actions' ]">Акції</a></li>
                <li class="footer-menu__item"><a [routerLink]="[ 'about-us' ]">Про нас</a></li>
                <li class="footer-menu__item"><a [routerLink]="[ 'dogovir-oferta' ]">Оферта</a></li>
            </ul>
            <div class="footer-info">
                <div class="delivery-address text-center">
                    <h6 class="footer-info__title">Точки самовивозу</h6>
                    <ul>
                        <li>вул. Володимира Великого, 10в</li>
                        <li>вул. Чорновола, 95</li>
                    </ul>
                </div>
                <div class="order-phone text-center">
                    <h6 class="footer-info__title">Оформити замовлення</h6>
                    <a href="tel:0978780837">(097) 878 08 37</a>
                </div>
                <div class="work-time text-center">
                    <h6 class="footer-info__title">Графік роботи</h6>
                    <p>працюємо з 11:00 до 21:30 </p>
                </div>
            </div>
            <div class="social">
                <p class="social__title">Слідкуйте за нами</p>
                <ul class="social-list">
                    <li class="social-list-item"><a class="icon-btn" href="https://www.facebook.com/monosushi.com.ua"
                            target="_blank">
                            <img src="assets/icons/facebook-icon.svg" alt="facebook"></a></li>
                    <li class="social-list-item"><a class="icon-btn" href="https://www.instagram.com/monosushi.com.ua"
                            target="_blank">
                            <img src="assets/icons/instagram-icon.svg" alt="instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">
                <p>© 2022 Monosushi</p>
            </div>
            <div class="pay-cards">
                <div class="pay-cards-item"><img class="w-100" src="assets/icons/pay-card-img-1.svg" alt="mastercard"></div>
                <div class="pay-cards-item"><img class="w-100" src="assets/icons/pay-card-img-2.svg" alt="visa"></div>
                <div class="pay-cards-item"><img class="w-100" src="assets/icons/pay-card-img-3.svg" alt="liqpay"></div>
            </div>
            <div class="social">
                <p class="social__title">Слідкуйте за нами</p>
                <ul class="social-list">
                    <li class="social-list-item"><a class="icon-btn" href="https://www.facebook.com/monosushi.com.ua"
                            target="_blank">
                            <img src="assets/icons/facebook-icon.svg" alt="facebook"></a></li>
                    <li class="social-list-item"><a class="icon-btn" href="https://www.instagram.com/monosushi.com.ua"
                            target="_blank">
                            <img src="assets/icons/instagram-icon.svg" alt="instagram"></a></li>
                </ul>
            </div>
            <div class="develop">
                <p></p>
            </div>
        </div>
    </div>
</footer>