<header class="scrolled">
    <div class="header-wrapper">
        <a class="header-logo" [routerLink]="[ '/' ]">
            <img class="logo-image" src="assets/images/logo.svg" alt="logo monosushi">
            <img class="logo-image-mobile" src="assets/images/logo-mobile.svg" alt="logo monosushi">
        </a>
        <div class="header-nav-wrapper" #headerNav>
            <nav>
                <ul class="main-nav">
                    <li class="main-nav__item border-hover"><a [routerLink]="[ '/actions' ]"
                            routerLinkActive="route-active" class="main-nav-link">
                            <div class="link-block">
                                <img class="link-block__img" src="assets/images/nav-img-gift.svg" alt="category">
                                <h6 class="link-block__name">Акції</h6>
                            </div>
                        </a></li>
                    <li *ngFor="let category of headerCategories" class="main-nav__item border-hover"><a
                            [routerLink]="['product/'+category.path]" routerLinkActive="route-active"
                            class="main-nav-link">
                            <div class="link-block">
                                <img class="link-block__img" [src]="category.imagePath" alt="category">
                                <h6 class="link-block__name">{{category.name}}</h6>
                            </div>
                        </a></li>
                </ul>
                <div class="burger-nav">
                    <svg class="hamburger" #hamburger data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                        aria-controls="offcanvasRight" viewBox="0 0 100 100" width="80">
                        <path class="line top"
                            d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
                        </path>
                        <path class="line middle" d="m 30,50 h 40"></path>
                        <path class="line bottom"
                            d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
                        </path>
                    </svg>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" data-bs-dismiss="offcanvas">
                        <div class="offcanvas-body">
                            <ul class="burger-nav">
                                <ul class="nav-menu">
                                    <li *ngFor="let category of headerCategories" class="main-nav__item border-hover"><a
                                            [routerLink]="[ 'product/'+category.path ]" routerLinkActive="route-active"
                                            class="main-nav-link">
                                            <div class="link-block">
                                                <img class="link-block__img" [src]="category.imagePath" alt="category">
                                                <h6 class="link-block__name">{{category.name}}</h6>
                                            </div>
                                        </a></li>
                                </ul>
                                <li class="nav-menu__item border-hover"><a class="nav-menu__link"
                                        [routerLink]="[ '/dostavka-ta-oplata' ]"
                                        routerLinkActive="route-active">Доставка та
                                        оплата</a></li>
                                <li class="nav-menu__item border-hover"><a class="nav-menu__link"
                                        [routerLink]="[ '/about-us' ]" routerLinkActive="route-active">Про наc</a></li>
                                <li class="nav-menu__item border-hover"><a class="nav-menu__link"
                                        [routerLink]="[ '/actions' ]" routerLinkActive="route-active">Акції</a></li>
                                <li class="nav-menu__item address">
                                    <div class="nav-menu__link header-info">
                                        <a class="phone-number" href="tel:0978780837">(097) 878 08 37</a>
                                        <p class="work-time mt-1">Працюємо з <b>11:00</b> до <b>21:30</b></p>
                                    </div>
                                </li>
                                <li class="nav-menu__item">
                                    <div class="call">
                                        <button class="button call-btn" (click)="openPopUpByName('call')">
                                            <img class="call__img" src="assets/icons/phone.svg" alt="phone">
                                            <span class="call__text">МИ ЗАТЕЛЕФОНУЄМО</span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="burger-menu border-hover" #burger>
            <svg class="hamburger dropdown-toggle" #hamburger data-bs-toggle="dropdown" aria-expanded="false"
                viewBox="0 0 100 100" width="80">
                <path class="line top"
                    d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
                </path>
                <path class="line middle" d="m 30,50 h 40"></path>
                <path class="line bottom"
                    d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
                </path>
            </svg>
            <ul class="dropdown-menu">
                <li class="nav-menu__item border-hover"><a class="nav-menu__link"
                        [routerLink]="[ '/dostavka-ta-oplata' ]" routerLinkActive="route-active">Доставка та
                        оплата</a>
                </li>
                <li class="nav-menu__item border-hover"><a class="nav-menu__link" [routerLink]="[ '/about-us' ]"
                        routerLinkActive="route-active">Про наc</a></li>
                <li class="nav-menu__item border-hover"><a class="nav-menu__link" [routerLink]="[ '/actions' ]"
                        routerLinkActive="route-active">Акції</a></li>
            </ul>
        </div>
        <div class="header-callback call">
            <button class="button call-btn" (click)="openPopUpByName('call')">
                <img class="call__img" src="assets/icons/phone.svg" alt="phone">
                <span class="call__text">МИ ЗАТЕЛЕФОНУЄМО</span>
            </button>
            <a class="call-mobile" href="tel:(097) 878 08 37">
                <img class="call-mobile__img" src="assets/icons/phone.svg" alt="phone">
            </a>
        </div>
        <div class="header-info">
            <a class="phone-number" href="tel:0978780837">(097) 878 08 37</a>
            <p class="work-time">Працюємо з <b>11:00</b> до <b>21:30</b></p>
        </div>
        <div class="header-user border-hover">
            <ng-container *ngIf="isAuthorizated">
                <img class="dropdown-toggle" src="assets/icons/user.svg" alt="user" data-bs-toggle="dropdown">
                <ul class="user-profile dropdown-menu">
                    <li class="nav-menu__item border-hover"><a class="nav-menu__link" [routerLink]="[ '/kabinet' ]"
                            routerLinkActive="route-active">Особисті дані</a></li>
                    <li class="nav-menu__item border-hover"><a class="nav-menu__link"
                            [routerLink]="[ '/kabinet/history' ]" routerLinkActive="route-active">Історія замовлень</a>
                    </li>
                    <li class="nav-menu__item border-hover"><a class="nav-menu__link"
                            [routerLink]="[ '/kabinet/password' ]" routerLinkActive="route-active">Зміна паролю</a></li>
                    <li class="nav-menu__item border-hover"><a class="nav-menu__link">Вихід</a></li>
                </ul>
            </ng-container>
            <ng-container *ngIf="!isAuthorizated">
                <img src="assets/icons/user.svg" alt="user" [routerLink]="[ 'admin/action' ]">
                <!--(click)="openPopUpByName('signIn')"-->
            </ng-container>
        </div>
        <div class="header-basket dropdown" id="dropdownMenuBasket" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="icon-block">
                <img src="assets/icons/basket.svg" alt="basket">
                <span>{{totalCount}}</span>
            </div>
            <div class="basket-price">
                <b class="card-total-price">{{totalPrice}}</b>
                <span> грн</span>
            </div>
        </div>
        <ul class="dropdown-menu basket_dropdown-menu" aria-labelledby="dropdownMenuBasket">
            <ng-container *ngIf="totalPrice === 0">
                <div class="cart-empty">
                    <div class="cart-empty-img">
                        <img src="assets/images/cart-empty-img.svg" alt="empty basket">
                    </div>
                    <h5 class="cart-empty__title">Кошик порожній</h5>
                    <button type="button" class="button cart-empty__btn" [routerLink]="['/product/roli']">Перейти до
                        каталогу</button>
                </div>
            </ng-container>
            <ng-container *ngIf="totalPrice != 0">
                <ul class="product-group">
                    <li *ngFor="let product of basketProducts" class="horiz-card">
                        <div class="horiz-card-img">
                            <img [src]="product.imagePath" [alt]="product.name">
                        </div>
                        <div class="horiz-card-description">
                            <a class="card__title" [routerLink]="['/product/'+product.category.path, product.id]">{{product.name}}</a>
                            <div class="controls">
                                <div class="thumb-number">
                                    <button (click)="productCount(product, false)" type="button"
                                        class="decrement">-</button>
                                    <input [value]="product.count" readonly="" class="product-qty" tabindex="-1"
                                        max="999">
                                    <button (click)="productCount(product, true)" type="button"
                                        class="increment">+</button>
                                </div>
                                <p class="price"><span>{{product.price * product.count}}</span> грн</p>
                                <button type="button" (click)="deleteToBasket(product)" class="horiz-card__btn">
                                    <div class="trash"></div>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </ng-container>
            <div class="cart_bottom bg-mono">
                <p class="price">Сума: <span>{{totalPrice}}</span> грн</p>
                <button class="button cart_bottom__btn" type="btn" [disabled]="totalPrice === 0">Оформити
                    замовлення</button>
            </div>
        </ul>
    </div>
</header>
<app-pop-up></app-pop-up>