@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.hover-border {
    position: relative;
    transition: 0.35s;
    cursor: pointer;
}

.hover-border::before {
    top: 0;
    left: 0;
}

.hover-border::after {
    bottom: 0;
    right: 0;
}

.hover-border::before,
.hover-border::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-radius: 7px;
}

.hover-border:hover::before,
.hover-border:hover::after {
    width: 100%;
    height: 100%;
}

.hover-border:hover::before {
    border-top-color: #b5d8f7;
    border-right-color: #b5d8f7;
    transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
}

.hover-border:hover::after {
    border-bottom-color: #b5d8f7;
    border-left-color: #b5d8f7;
    transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
}

.menu-item {
    max-width: 230px;
    white-space: nowrap;

    .menu-link {
        display: block;
        width: 100%;
        font-family: 'RotondaC-bold';
        font-size: 16px;
        line-height: 1em;
        padding: 12px 16px;
        @include border();
        transition: .35s;
    }
}

.menu-item+.menu-item {
    margin-top: 10px;
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    @include square(100%, 110px, #fff);
}

.container {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    @include d-flex(center, center);

    .header-logo {
        @include d-flex(start, center);
        height: 100%;
        padding: 0 22px;
        background: $main-color;
    }
}

.header-nav-wrapper {
    .main-nav {
        @include d-flex(start, center);
        margin-left: 50px;

        li {
            width: 99px;
            height: 85px;
            @include border;
            text-align: center;

            a {
                position: relative;
                display: block;
                @include square(100%, 100%, transparent);
            }

            div {
                position: absolute;
                left: 50%;
                bottom: 9px;
                transform: translate(-50%, 0);

                img {
                    margin: 0 auto;
                }

                span {
                    display: block;
                    margin-top: 5px;
                    font-family: 'RotondaC-bold';
                }
            }
        }
    }
}

.burger-menu {
    @include border;
    margin: 0 auto 0 15px;

    .hamburger {
        position: relative;
        z-index: 2;
        display: block;
        @include square(50px, 48px, transparent);
        transition: transform 400ms;

        .line {
            fill: none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke: #252525;
            stroke-width: 5.5;
            stroke-linecap: round;
        }

        .top {
            stroke-dasharray: 40 80;
        }

        .middle {
            stroke-dasharray: 40 72;
            transform-origin: 50%;
            transition: transform 400ms;
        }

        .bottom {
            stroke-dasharray: 40 68;
            transform-origin: 50%;
            transition: transform 400ms, stroke-dashoffset 400ms;
        }
    }

    .secondary-nav {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        left: -30px;
        top: -25px;
        padding: 28px 25px 0px 25px;
        background: #fff;
        border: 2px solid $main-color;
        border-radius: $brd-radius;
        transition: .35s;
    }
}

.burger-menu.active {
    .hamburger {
        transform: rotate(45deg);

        .top {
            stroke-dashoffset: -64px;
        }

        .middle {
            transform: rotate(90deg);
        }

        .bottom {
            stroke-dashoffset: -64px;
        }
    }

    .secondary-nav {
        opacity: 1;
        visibility: visible;
        padding: 88px 25px 20px 25px;
    }
}

.header-callback {
    margin-right: auto;

    .button {
        padding: 10px 15px 11px;
        background: $main-color;

        img {
            margin-right: 10px;
        }

        span {
            font-size: 14px;
            font-family: 'RotondaC-bold';
        }
    }

    .button:hover {
        background: #fff;
        border-color: $main-color;
    }
}

.header-info {
    margin-right: auto;
    text-align: center;

    &__phone {
        font-size: 18px;
        font-family: 'RotondaC-bold';
        line-height: 1em;
        transition: .35s;
    }

    &__phone:hover {
        color: #b5d8f7;
    }

    &__work-time {
        color: #5A5A5A;
        font-size: 14px;
        line-height: 1.2em;
    }
}

.header-user {
    padding: 9px;
    margin-right: auto;
    @include border();
    transition: .35s;

    img {
        display: block;
        position: relative;
        z-index: 4;
    }

    .user-profile {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 3;
        left: -30px;
        top: -25px;
        padding: 8px 25px 0px 25px;
        background: #fff;
        border: 2px solid $main-color;
        border-radius: 5px;
        transition: .35s;
    }
}

.header-user.active {
    .user-profile {
        opacity: 1;
        visibility: visible;
        padding: 88px 25px 20px 25px;
    }
}

// ------
.header-basket {
    position: relative;
    @include d-flex(center, center);
    max-width: 154px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
}

.header-basket::before {
    content: '';
    background: #b5d8f7;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .35s;
}

.basket-icon-block {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding-bottom: 5px;

    span {
        position: absolute;
        top: 0;
        right: -7px;
        color: #252525;
        line-height: 1em;
        font-size: 14px;
        padding-top: 6px;
        background-color: #fff;
        transition: .35s;
        min-width: 26px;
        max-width: 36px;
        height: 26px;
        border-radius: 100%;
        text-align: center;
    }
}