@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';
@import '../../shared/styles/common';

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    @include square(100%, 110px, #fff);
    box-shadow: 0px -10px 20px 0px #dddada;

    @media screen and (max-width: 1600px) {
        height: 95px;
    }

    @include responsive(xlarge) {
        height: 60px;
    }
}

.header-wrapper {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    @include d-flex(center, center);

    .header-logo {
        @include d-flex(flex-start, center);
        height: 100%;
        padding: 0 22px;
        background: $main-color;

        @media screen and (max-width: 1600px) {
            padding: 0 15px;
        }

        @include responsive(medium) {
            width: 70px;
        }

        .logo-image {
            max-width: 176px;

            @media screen and (max-width: 1600px) {
                max-width: 136px;
            }

            @include responsive(xlarge) {
                max-width: 106px;
            }

            @include responsive(medium) {
                display: none;
            }
        }

        .logo-image-mobile {
            display: none;

            @include responsive(medium) {
                display: block;
                max-width: 40px;
            }
        }
    }
}

.header-nav-wrapper {
    @include responsive(xlarge) {
        order: 1;
        margin-right: auto;
    }

    .main-nav {
        @include d-flex(flex-start, center);
        margin-left: 50px;

        @media screen and (max-width: 1600px) {
            margin-left: 15px;
        }

        @include responsive(xlarge) {
            display: none;
        }

        &__item {
            @include d-flex(center, center);
            @include square(99px, 85px, transparent);
            @include border;

            @media screen and (max-width: 1600px) {
                @include square(75px, 70px, transparent);
            }

            .link-block {
                &__img {
                    display: block;
                    margin: 0 auto;

                    @media screen and (max-width: 1600px) {
                        @include square(28px, 30px, transparent);
                    }
                }

                &__name {
                    display: block;
                    margin-top: 5px;
                }
            }
        }

        .main-nav__item+.main-nav__item {
            margin-left: 5px;
        }
    }

    .burger-nav {
        display: none;

        @include responsive(xlarge) {
            display: block;
        }

        .nav-menu {
            .main-nav__item {
                @include d-flex(flex-start, center);
                @include square(100%, 60px, transparent);
                padding-left: 15px;
            }

            &__item {
                max-width: none;
            }

            .link-block {
                display: flex;

                &__name {
                    margin: 7px 0 0 14px;
                }
            }
        }

        .header-info {
            text-align: left;
        }

        .call {
            text-align: center;

            &-btn span {
                font-size: 14px;
            }
        }

        .offcanvas {
            padding: 10px;
        }

        .offcanvas:focus-visible {
            outline: none;
        }
    }
}

.burger-menu {
    margin: 0 auto 0 15px;
    @include border;

    @include responsive(xlarge) {
        display: none;
    }

    .dropdown-menu {
        @include responsive(xlarge) {
            display: none;
        }
    }
}

.hamburger {
    z-index: 2;
    position: relative;
    display: block;
    @include square(50px, 48px, transparent);
    transition: transform 400ms;
    cursor: pointer;

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: $default-text-color;
        stroke-width: 5.5;
        stroke-linecap: round;
    }

    .top {
        stroke-dasharray: 40 80;
    }

    .middle {
        stroke-dasharray: 40 72;
        transform-origin: 50%;
        transition: transform 400ms;
    }

    .bottom {
        stroke-dasharray: 40 68;
        transform-origin: 50%;
        transition: transform 400ms, stroke-dashoffset 400ms;
    }
}

.hamburger.show {
    transform: rotate(45deg);

    .top {
        stroke-dashoffset: -64px;
    }

    .middle {
        transform: rotate(90deg);
    }

    .bottom {
        stroke-dashoffset: -64px;
    }
}

.dropdown-menu {
    z-index: 1;
    @include absolute(-25px, -30px);
    display: block;
    padding: 28px 25px 0px 25px;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border: 2px solid $main-color;
    border-radius: $brd-radius;
    transition: 0.35s;
}

.dropdown-menu.show {
    inset: 0px auto auto -30px !important;
    transform: translate3d(0px, -25px, 0px) !important;
    padding: 88px 25px 20px 25px;
    opacity: 1;
    visibility: visible;
    transition: 0.35s;
}

.call {
    margin-right: auto;

    @include responsive(xlarge) {
        margin-top: 40px;
        text-align: center;
    }

    &-btn {
        padding: 10px 15px 11px;
        background: $main-color;

        @media screen and (max-width: 1600px) {
            padding: 5px 10px 6px;
        }

        @include responsive(xlarge) {
            padding: 12px 14px;
        }
    }

    &-btn:hover {
        background: #fff;
        border-color: $main-color;
    }

    &__img {
        margin-right: 15px;

        @media screen and (max-width: 1600px) {
            margin-right: 10px;
        }
    }

    &__text {
        font-family: 'RotondaC-bold';
        font-size: 14px;

        @media screen and (max-width: 1600px) {
            font-size: 12px;
        }
    }

    &-mobile {
        display: none;

        &__img {
            width: 14px;
        }
    }
}

.header-callback.call {
    @include responsive(xlarge) {
        margin: 0 0 0 auto;
    }

    .call-btn {
        @include responsive(xlarge) {
            display: none;
        }
    }

    .call-mobile {
        @include responsive(xlarge) {
            display: block;
            padding: 0 10px;
        }
    }

    .call__img {
        @media screen and (max-width: 1340px) {
            margin-right: 0;
        }
    }

    .call__text {
        @media screen and (max-width: 1340px) {
            display: none;
        }
    }
}

.header-info {
    margin-right: auto;
    text-align: center;

    @include responsive(xlarge) {
        display: none;
    }

    .phone-number {
        font-size: 18px;
        font-family: 'RotondaC-bold';
        transition: .35s;

        @media screen and (max-width: 1600px) {
            font-size: 16px;
        }
    }

    .phone-number:hover {
        color: $main-color;
    }

    .work-time {
        @include text($sec-text-color, 14px, 1.2em);

        @media screen and (max-width: 1600px) {
            @include text($sec-text-color, 12px, 1em);
        }

        b {
            font-size: 14px;

            @media screen and (max-width: 1600px) {
                font-size: 12px;
            }
        }
    }
}

.header-user {
    margin-right: auto;
    @include border();
    transition: .35s;

    @include responsive(xlarge) {
        margin: 0 auto;
    }

    img {
        z-index: 3;
        position: relative;
        display: block;
        padding: 9px;
    }

    .dropdown-menu {
        z-index: 2;
    }
}

.header-basket {
    position: relative;
    @include d-flex(center, center);
    @include square(100%, 100%, transparent);
    max-width: 154px;
    cursor: pointer;

    @media screen and (max-width: 1600px) {
        max-width: 134px;
    }

    @include responsive(xlarge) {
        order: 2;
    }

    @include responsive(medium) {
        max-width: 70px;
    }

    .icon-block {
        position: relative;
        padding-bottom: 5px;
        margin-right: 10px;

        @include responsive(medium) {
            margin: 4px 0 0 0;
        }

        img {
            @include responsive(medium) {
                width: 30px;
            }
        }

        span {
            position: absolute;
            top: 0;
            right: -7px;
            min-width: 26px;
            max-width: 36px;
            height: 26px;
            padding-top: 3px;
            background-color: #fff;
            font-size: 14px;
            text-align: center;
            border-radius: 100%;
            transition: .35s;

            @media screen and (max-width: 1600px) {
                min-width: 22px;
                height: 22px;
                font-size: 12px;
            }
        }
    }

    .basket-price {
        @include responsive(medium) {
            display: none;
        }
    }

    .basket-price .card-total-price,
    .basket-price span {
        font-size: 18px;

        @media screen and (max-width: 1600px) {
            font-size: 16px;
        }
    }
}

.header-basket::before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    @include square(100%, 100%, $main-color);
    transition: .35s;
}

.header-basket.show .icon-block span {
    background-color: $main-color;
}

.header-basket.show::before {
    height: 4px;
}

.basket_dropdown-menu {
    left: inherit;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 670px;
    height: max-content;
    max-height: calc(100vh - 110px);
    border-color: #e5e5e540;
    border-radius: 0 0 10px 10px;
    overflow: hidden;

    @media screen and (max-width:1600px) {
        max-height: calc(100vh - 95px);
    }

    @include responsive(xlarge) {
        height: calc(100vh - 60px);
        max-height: none;
    }

    @include responsive(medium) {
        width: 100%;
    }

    .cart-empty {
        padding: 15px 0;
        text-align: center;

        .cart-empty-img img {
            width: 100px;
        }

        &__title {
            margin-bottom: 15px;
            @include text($default-text-color, 20px, 1.75em);
        }

        &__btn {
            background-color: $main-color;
        }

        &__btn:hover {
            @media screen and(min-width:1200px) {
                background-color: transparent;
                border-color: $main-color;
            }
        }
    }

    .product-group {
        overflow: auto;
    }

    .horiz-card {
        display: flex;
        padding: 9px 20px;

        @include responsive(medium) {
            padding: 5px;
        }

        &-img {
            @include d-flex(center, center);
            @include square(122px, 92px, transparent);

            @include responsive(medium) {
                @include square(102px, 82px, transparent);
            }

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &-description {
            @include d-flex(space-between, center);
            width: 100%;
            padding: 0 10px 0 20px;

            @include responsive(small) {
                display: block;
                padding: 0 10px;
            }

            .card__title {
                font-family: 'RotondaC-bold';
            }

            .card__title:hover {
                color: $main-color;
                transition: all 0.35s;
            
                @include responsive(xlarge) {
                    color: $default-text-color;
                }
            }

            .controls {
                position: relative;
                @include d-flex(flex-start, center);

                @include responsive(small) {
                    margin-top: 10px;
                }

                .thumb-number {
                    @include d-flex(space-between, center);
                    @include square(110px, 46px, transparent);
                    border: 1px solid #dcdcdc;
                    border-radius: $brd-radius;

                    @include responsive(medium) {
                        @include square(80px, 36px, transparent);
                    }

                    @include responsive(small) {
                        margin-right: auto;
                    }

                    .product-qty {
                        @include square(30px, 44px, transparent);
                        text-align: center;
                        font-size: 24px;
                        font-family: 'RotondaC-bold';
                        border: none;

                        @include responsive(medium) {
                            height: 34px;
                            font-size: 16px;
                        }
                    }

                    .product-qty:focus-visible {
                        outline: none;
                    }

                    .decrement {
                        @include text($default-text-color, 30px, 24px);

                        @include responsive(medium) {
                            padding-bottom: 2px;
                        }
                    }

                    .increment {
                        padding-bottom: 2px;
                        @include text($default-text-color, 24px, 30px);
                    }

                    .decrement,
                    .increment {
                        margin: 5px;
                        @include square(32px, 36px, transparent);
                        border-color: transparent;
                        border-radius: $brd-radius;

                        @include responsive(medium) {
                            margin: 0;
                            @include square(25px, 30px, transparent);
                            font-size: 22px;
                            line-height: 24px;
                        }
                    }

                    .decrement:hover,
                    .increment:hover {
                        background-color: $main-color;
                    }
                }

                .price {
                    width: 90px;
                    margin: 0 5px;
                    text-align: center;

                    span {
                        font-family: 'RotondaC-bold';
                    }
                }

                .horiz-card__btn {
                    position: relative;
                    @include square(14px, 20px, transparent);
                    @include d-flex(center, center);
                    border: none;

                    .trash {
                        position: relative;
                        @include square(14px, 16px, transparent);
                    }

                    .trash::before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: -1px;
                        transform: translate(-50%, 0);
                        @include square(10px, 12px, $sec-text-color);
                        border-radius: 0 0 3px 3px;
                        transition: .35s;
                    }

                    .trash:after {
                        content: '';
                        @include absolute(0, 50%);
                        @include square(100%, 4px, $sec-text-color);
                        transform: translate(-50%, 0);
                        clip-path: polygon(35% 0, 65% 0, 75% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 25% 50%);
                        transition: .35s;
                    }

                    .trash:hover::before,
                    .trash:hover:after {
                        background: $main-color;
                    }

                    .trash:hover:after {
                        top: -4px;
                    }
                }

                .horiz-card__btn:focus-visible {
                    outline: none;
                }
            }
        }
    }

    .horiz-card+.horiz-card {
        border-top: 1px solid #dcdcdc;
    }

    .cart_bottom {
        padding: 20px;
        @include d-flex(space-between, center);

        @include responsive(medium) {
            margin-top: 25px;
        }

        .price {
            @include text($default-text-color, 18px, 1.5em);

            @include responsive(medium) {
                font-size: 16px;
            }

            span {
                font-size: 24px;
                font-family: 'RotondaC-bold';

                @include responsive(medium) {
                    font-size: 20px;
                }
            }
        }

        &__btn {
            background-color: #fff;

            @include responsive(medium) {
                font-size: 14px;
                padding: 10px;
            }
        }

        &__btn:hover {
            @media screen and(min-width:1200px) {
                background-color: transparent;
                border-color: #fff;
            }
        }

        &__btn:disabled {
            color: #6a6a6a;
            background-color: #e1f1ff;
            border-color: #d9ebfc;
        }
    }

    .bg-mono {
        background-image: url('https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg'),
            url('https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg');
        background-color: $main-color;
        background-repeat: repeat;
        background-position: 0 0, 190px -52px;
    }
}

.basket_dropdown-menu.show {
    inset: 0 0 auto auto !important;
    transform: translate3d(0px, 110px, 0px) !important;
    padding: 0;

    @media screen and (max-width: 1600px) {
        transform: translate3d(0px, 95px, 0px) !important;
    }

    @include responsive(xlarge) {
        transform: translate3d(0px, 60px, 0px) !important;
    }
}