@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';
@import '../../shared/styles/common';

.container {
    padding: 0 15px;
    margin: 60px auto 90px;
    max-width: 1750px;

    @include responsive(xxlarge) {
        margin: 40px auto 60px;
    }

    @include responsive(xlarge) {
        max-width: 960px;
    }

    @include responsive(large) {
        max-width: 720px;
    }

    @include responsive(medium) {
        margin: 30px auto;
    }
}