<div class="container">
    <div class="center-info">
        <h2 class="center-info__title">Акції</h2>
    </div>
    <div class="cards-group">
        <div *ngFor="let action of actions" class="card">
            <div class="card-img">
                <a class="card-img__link" [routerLink]="['/actions', action.id]"><img [src]="action.imagePath === undefined ? 'assets/images/no-image-found.png' : action.imagePath " class="card-img-top" alt="discount"></a>
            </div>
            <div class="card-body">
                <hr class="card-line">
                <button type="button" class="button card-btn" [routerLink]="['/actions', action.id]">Дізнатися
                    більше</button>
            </div>
        </div>
    </div>