<div class="categories-menu">
    <ul class="categories__list">
      <li class="categories__list_item active"><a class="category_link">Всі</a></li>
      <li class="categories__list_item"><a class="category_link">Філадельфія</a></li>
      <li class="categories__list_item"><a class="category_link">Каліфорнія</a></li>
      <li class="categories__list_item"><a class="category_link">Запечені</a></li>
      <li class="categories__list_item"><a class="category_link">Фірмові</a></li>
      <li class="categories__list_item"><a class="category_link">Преміум</a></li>
      <li class="categories__list_item"><a class="category_link">Макі</a></li>
    </ul>
  </div>
