@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';
@import '../../shared/styles/common';

.delivery {
    @include d-flex(center, center);
    width: 86%;
    padding: 20px 15px 0;
    margin: 0 auto;

    @include responsive(xxlarge) {
        padding: 0 15px;
    }

    @include responsive(xlarge) {
        width: 100%;
    }

    @include responsive(large) {
        flex-direction: column;
    }

    @include responsive(medium) {
        padding: 10px 0 0 0;
    }

    &-info {
        position: relative;
        @include d-flex(center, center);
        width: 100%;
        padding: 0 15px;

        @include responsive(small) {
            flex-direction: column;
        }

        &-img {
            max-width: 276px;
            margin-right: 40px;

            @include responsive(xxlarge) {
                margin-right: 15px;
            }

            @include responsive(medium) {
                width: 47%;
            }

            @include responsive(small) {
                width: 100%;
                max-width: 170px;
                margin-bottom: 10px;
            }
        }

        &-text {
            max-width: 270px;
            text-align: center;

            @include responsive(medium) {
                width: 53%;
            }

            @include responsive(small) {
                width: 100%;
            }

            .title {
                margin-bottom: 10px;
                @include text($default-text-color, 26px, 1.2em);
                letter-spacing: 0.07em;

                @include responsive(medium) {
                    font-size: 22px;
                }
            }

            .text {
                @include text($sec-text-color, 16px, 1.6em);
            }

            .text+.text {
                margin-top: 10px;
            }
        }

        .green {
            color: #27ae60;
        }

        .yellow {
            color: #f2c94c;
        }
    }

    &-info.yellow {
        @include responsive(large) {
            margin-top: 40px;
        }
    }

    &-info.yellow::before {
        content: "";
        @include absolute(50%, 0);
        @include square(1px, 230px, #dcdcdc);
        transform: translate(0, -50%);

        @include responsive(xxlarge) {
            display: none;
        }
    }
}

.map {
    @include d-flex(center, center);
    @include square(70%, 650px, transparent);
    margin: 80px auto 60px;

    @include responsive(xxlarge) {
        margin: 40px auto;
    }

    @include responsive(xlarge) {
        @include square(100%, 500px, transparent);
    }

    @include responsive(medium) {
        height: 330px;
        margin-top: 20px;
    }
}

.delivery-text {
    @include d-flex(center, center);
    max-width: 64%;
    margin: 0 auto 90px;

    @include responsive(xxlarge) {
        margin: 0 auto 60px;
    }

    @include responsive(xlarge) {
        max-width: 95%;
    }

    @include responsive(large) {
        max-width: none;
    }

    @include responsive(medium) {
        margin: 0 auto 30px;
    }

    .text {
        @include responsive(medium) {
            font-size: 18px;
        }
    }
}

.payment {
    margin-bottom: 90px;

    @include responsive(xxlarge) {
        margin-bottom: 60px;
    }

    @include responsive(medium) {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 40px;
        @include text($default-text-color, 42px, 1.2em);
        text-align: center;

        @include responsive(medium) {
            margin-bottom: 20px;
            font-size: 34px;
        }
    }

    .payment-info {
        @include d-flex(center, center);
        margin: 0 auto;
        max-width: 74%;

        @include responsive(xxlarge) {
            max-width: 65%;
        }

        @include responsive(large) {
            flex-direction: column;
            align-items: start;
            max-width: none;
        }

        &-item {
            position: relative;
            display: flex;
            max-width: 427px;
            margin: 0 20px;

            @include responsive(large) {
                padding: 0;
                margin-bottom: 20px;
            }
        }

        &-item:nth-child(n+2):before {
            content: "";
            @include absolute(0, -30px);
            @include square(1px, 100%, #dcdcdc);

            @include responsive(xlarge) {
                left: -22px;
            }

            @include responsive(large) {
                display: none;
            }
        }

        &-img {
            position: relative;
            @include d-flex(center, center);
            @include square(100%, 60px, $main-color);
            max-width: 63px;
            margin-right: 20px;
            border-radius: $brd-radius;

            @include responsive(xlarge) {
                max-width: 53px;
                height: 50px;
                margin-right: 10px;
            }
        }

        &-text {
            .title {
                margin: 15px 0;
                @include text($default-text-color, 20px, 1.1em);

                @include responsive(xlarge) {
                    margin: 5px 0;
                }
            }

            .text {
                font-size: 16px;
            }
        }
    }
}