@import '../../../shared/styles/fonts';
@import '../../../shared/styles/base';
@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/common';

.container-fluid {
    width: 750px;
    padding: 0 15px;
    margin: 0 auto;

    @include responsive(xlarge){
        width: 600px;
    }

    @include responsive(large){
        width: 100%;
    }

    @include responsive(medium) {
        text-align: center;
    }
}

form {
    width: 100%;

    @include responsive(large) {
        width: 100%;
    }

    .form__title{
        @include d-flex(flex-start, center);
        margin-bottom: 20px;
        
        @include responsive(medium){
            margin-bottom: 15px;
        }
        
        .number_title{
            @include d-flex(center,center);
            @include square(28px,28px, $main-color);
            margin-right: 15px;
            font-family: 'RotondaC-bold';
            border-radius: 5px;
        }

        .text_title{
            font-size: 18px;
            font-family: 'RotondaC-bold';  
        }
    }

    .flex {
        display: flex;
        gap: 20px;

        @include responsive(medium) {
            display: block;
        }

        div {
            width: 50%;

            @include responsive(medium) {
                width: 100%;
            }
        }
    }

    input {
        padding: 12px 16px;
        border-radius: $brd-radius;
    }

    input:focus-visible {
        outline: none;
    }

}

.form_btn {
    width: 280px;
    padding: 16px;
    margin-bottom: 30px;
    background-color: $main-color;
    border: solid 2px $main-color;
    transition: 0.35s;

    @include responsive(medium) {
        width: 100%;
    }
}

.form_btn:hover {
    background-color: transparent;
}