<div class="container-fluid">
    <form [formGroup]="passwordForm" (ngSubmit)="updateData()">
        <div class="form__title">
            <p class="number_title">1</p> 
            <p class="text_title">Зміна паролю</p>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" formControlName="currentPassword" placeholder="*Ваш поточний пароль">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" formControlName="newPassword" placeholder="*Новий пароль">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" formControlName="againNewPassword" placeholder="*Повторіть пароль">
        </div>
        <button type="submit" class="button form_btn" [disabled]="passwordForm.invalid">Зберегти зміни</button>
    </form>
</div>

