@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';
@import '../../shared/styles/common';

.article {
    max-width: 58%;
    margin: 0 auto;

    @include responsive(xlarge) {
        max-width: 84%;
    }

    @include responsive(large) {
        max-width: none;
    }

    &__title {
        margin-bottom: 20px;
        @include text($default-text-color, 42px, 1.2em);

        @include responsive(medium) {
            font-size: 26px;
        }
    }

    &-text {

        strong,
        p, &-link {
            font-size: 18px;
        }

        p {
            color: $sec-text-color;
        }

        &-link {
            color: $main-color;
            font-family: 'RotondaC-bold';
        }
    }
}