main {
    min-height: calc(100vh - 110px);
}

@media screen and (max-width: 1599px) {
    main {
        min-width: calc(100vh - 95px);
    }
}

@media screen and (max-width: 1199px) {
    main {
        min-width: calc(100vh - 60px);
    }
}