<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item"><a [routerLink]="[ 'action' ]" routerLinkActive="route-active">Акції</a></li>
        <li class="list-group-item"><a [routerLink]="[ 'category' ]" routerLinkActive="route-active">Категорії</a></li>
        <li class="list-group-item"><a [routerLink]="[ 'product' ]" routerLinkActive="route-active">Товари</a></li>
        <li class="list-group-item"><a [routerLink]="[ 'order' ]" routerLinkActive="route-active">Замовлення</a></li>
        <li class="list-group-item"><button class="button list-btn" type="button">Вихід</button></li>
    </ul>
    <router-outlet></router-outlet>
</div>