* {
    margin: 0;
    padding: 0;
    color: #252525;
    font-family: 'RotondaC', sans-serif, cursive;
    font-size: 16px;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.35s;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6, button {
    font-family: 'RotondaC-bold';
}

:focus-visible {
    outline: #000000 auto 1px;
}