* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RotondaC', system-ui, -apple-system, sans-serif, cursive;
}

li, p, a, b, button, input {
    color: #252525;
}

p {
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

b { 
    font-family: 'RotondaC-bold';
}

:focus-visible {
    outline: black auto 1px;
}

.button {
    position: relative;
    display: inline-block;
    padding: 16px 22px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-family: 'RotondaC-bold';
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.35s;
}

.button:active {
    transform: translateY(3px);
}

