.main-container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 60px auto 120px;

    @include responsive(xxlarge) {
        margin: 40px auto 90px;
    }

    @include responsive(xlarge) {
        max-width: 960px;
    }

    @include responsive(large) {
        max-width: 720px;
    }

    @include responsive(medium) {
        max-width: 540px;
        margin: 30px auto 50px;
    }

    @include responsive(small) {
        max-width: 100%;
    }
}

.button {
    position: relative;
    display: inline-block;
    padding: 16px 22px;
    line-height: 20px;
    @include border();
    text-align: center;
    text-transform: uppercase;
    transition: 0.35s;
}

.button:active {
    transform: translateY(3px);
}

.button:disabled {
    color: #6a6a6a;
    background-color: #e1f1ff;
    border-color: #d9ebfc;
}

.button:disabled:hover {
    background-color: #e1f1ff;
}

.title {
    @include text($default-text-color, 34px, 1.4em);

    @include responsive(medium) {
        font-size: 26px;
    }
}

.text {
    @include text($sec-text-color, 18px, 1.5em);

    @include responsive(medium) {
        font-size: 16px;
    }
}

.menu-list {
    &__item {
        position: relative;
        padding-left: 24px;
    }

    &__item+&__item {
        margin-top: 8px;
    }

    ::before {
        content: "";
        @include absolute(9px, 0);
        @include square(11px, 11px, $main-color);
        border-radius: 100%;
    }

    ::after {
        content: "";
        @include absolute(10px, 1px);
        @include square(9px, 9px, transparent);
        border: 2px solid #ffffff;
        border-radius: 100%;
    }
}

.nav-menu__item {
    max-width: 230px;
    white-space: nowrap;

    .nav-menu__link {
        display: block;
        width: 100%;
        font-family: 'RotondaC-bold';
        font-size: 16px;
        line-height: 1em;
        padding: 12px 16px;
        @include border();
        transition: .35s;

        @include responsive(xlarge) {
            padding: 8px 12px;
        }
    }

    .nav-menu__link:hover {
        color: $default-text-color;
    }
}

.nav-menu__item+.nav-menu__item {
    margin-top: 10px;
}

.center-info {
    margin-bottom: 40px;
    text-align: center;

    &__title {
        position: relative;
        display: inline-block;
        padding-top: 10px;
        font-size: 42px;
        line-height: 1.2em;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            @include square(100%, 5px, $main-color);
            border-radius: $brd-radius;
        }
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 20px;

        &__title {
            font-size: 34px;
        }
    }
}

.border-hover {
    position: relative;
    cursor: pointer;
    transition: 0.35s;
}

.border-hover::before {
    top: 0;
    left: 0;
}

.border-hover::after {
    bottom: 0;
    right: 0;
}

.border-hover::before,
.border-hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border: 2px solid transparent;
    border-radius: 7px;

    @include responsive(xlarge) {
        display: none;
    }
}

.border-hover:hover::before,
.border-hover:hover::after {
    width: 100%;
    height: 100%;
}

.border-hover:hover::before {
    border-top-color: $main-color;
    border-right-color: $main-color;
    transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
}

.border-hover:hover::after {
    border-bottom-color: $main-color;
    border-left-color: $main-color;
    transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
}

.link-hover {
    position: relative;
    display: inline-block;
    transition: all 0.35s ease-out;
    cursor: pointer;
}

.link-hover::before {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    bottom: 0;
    @include square(0, 2px, $main-color);
    transition: all 0.35s ease-out;

    @include responsive(xlarge) {
        display: none;
    }
}

.link-hover:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}