@font-face {
    font-family: 'RotondaC';
    src: url(../../../assets/fonts/rotondac.otf) format("opentype");
  }

  @font-face {
    font-family: 'RotondaC-bold';
    src: url(../../../assets/fonts/rotondac-bold.otf) format("opentype");
  }