@mixin d-flex($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin square($w, $h, $bg-color) {
    width: $w;
    height: $h;
    background-color: $bg-color;
}

@mixin border() {
    border: 2px solid transparent;
    border-radius: 10px;
}

@mixin background($url) {
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin text($color, $fz, $lh) {
    color: $color;
    font-size: $fz;
    line-height: $lh;
}