@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import 'base';
@import 'variables';
@import 'mixins';
@import 'common';
@import 'fonts';

.back-color {
    background-color: rgba(0, 0, 0, 0.6);
}

.auth-dialog, .call-dialog {
    overflow: auto;
    border-radius: $brd-radius;
}

.basket-dialog {}