@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';
@import '../../shared/styles/common';

.container-fluid {
    padding: 0 15px;
    margin: 0 auto;

    @include responsive(medium) {
        text-align: center;
    }
}

.btn-admin {
    width: 280px;
    padding: 16px;
    margin-bottom: 30px;
    background-color: #fff;
    border: solid 2px $main-color;
    transition: 0.35s;

    @include responsive(small) {
        width: 100%;
    }
}

.btn-admin:hover {
    background-color: $main-color;
}

.table {
    text-align: start;
    overflow: auto;

    tbody {
        border-top-color: $main-color;
    }

    th,
    td {
        padding: 20px;
        color: $sec-text-color;
        font-size: 18px;
        vertical-align: middle;

        @media screen and (max-width:1600px) {
            font-size: 16px;
        }

        @include responsive(xlarge) {
            padding: 10px;
        }

        img {
            max-width: 180px;
        }
    }

    .btn-table {
        display: block;
        color: $main-color;
        background-color: transparent;
        border: none;
    }

}

form {
    width: 65%;

    @include responsive(large) {
        width: 100%;
    }

    .flex {
        display: flex;
        gap: 20px;

        @include responsive(small) {
            display: block;
        }

        div {
            width: 50%;

            @include responsive(small) {
                width: 100%;
            }
        }
    }

    input,
    textarea {
        padding: 12px 16px;
        border-radius: $brd-radius;
    }

    input:focus-visible,
    textarea:focus-visible {
        outline: none;
    }

    textarea {
        resize: none;
    }

    #actionFile {
        color: $sec-text-color;
    }

    .image-preview {
        display: flex;
        max-width: 233px;

        img {
            width: 100%;
            border-radius: 0 10px 10px 0;

            @include responsive(small) {
                width: 81%;
            }
        }

        .delete-btn {
            position: relative;
            width: 20px;
            background-color: #dc3545;
            border-radius: 10px 0 0 10px;

            span {
                @include absolute(50%, 50%);
                transform: translate(-50%, -50%) rotate(270deg);
                color: white;
                font-family: 'RotondaC-bold';
            }
        }

        .delete-btn:hover {
            background-color: #bd3946;
        }
    }

    .btn-admin {
        margin-top: 20px;
    }
}