<div class="container">
    <button type="button" class="button">Додати акцію</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Назва</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Опис</th>
                <th scope="col">Картинка</th>
                <th scope="col">Дії</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12.2021</td>
                <td>рол тижня</td>
                <td>50% знижки на "Рол тижня"</td>
                <td>Щотижня діє знижка на 50% на один з ролів у нашому меню</td>
                <td><img src="" alt="action"></td>
                <td>
                    <button type="button">Редагувати</button>
                    <button type="button">Видалити</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>