<div class="container">
    <ul class="breadCrumb">
        <li class="breadCrumb__item"><a class="breadCrumb__link" [routerLink]="['/']">Головна</a></li>
        <li class="breadCrumb__item"><a class="breadCrumb__link" [routerLink]="['/product/'+productDetails.category.path]">{{productDetails.category.name}}</a></li>
        <li class="breadCrumb__item"><a class="breadCrumb__link">{{productDetails.name}}</a></li>
    </ul>
    <div class="product">
        <div class="product_container">
            <div class="product_image col-md-6 col-xl-4">
                <img [src]="productDetails.imagePath" [alt]="productDetails.name">
            </div>
            <div class="product_content col-md-6 col-xl-4">
                <h2 class="product__title">{{productDetails.name}}</h2>
                <p class="product__text description"><span class="product__text_color">Склад: </span>{{productDetails.description}}</p>
                <p class="product__text weight"><span class="product__text_color">Вага: </span>{{productDetails.weight}} г</p>
                <div class="product-info-block align-items-center">
                    <p class="product-price"><span class="price">{{productDetails.price * productDetails.count}}</span> грн</p>
                    <div class="thumb-number">
                        <button (click)="productCount(productDetails, false)" type="button" class="decrement">-</button>
                        <input [value]="productDetails.count" readonly="" class="product-qty" tabindex="-1" max="999">
                        <button (click)="productCount(productDetails, true)" type="button" class="increment">+</button>
                    </div>
                    <button (click)="addToBasket(productDetails)" type="button" class="button buy__btn">Замовити</button>
                </div>
            </div>
        </div>
    </div>
</div>
