<div class="main-container">
    <div class="center-info">
        <h2 class="center-info__title">Про нас</h2>
    </div>
    <div class="simple">
        <div class="container">
            <h3 class="title">Monosushi – доставка неймовірно смачних суші у Львові.</h3>
            <p class="text">
                Головний пріоритет – висока якість їжі та сервісу. Ми – команда
                професіоналів, яка щодня працює для Вас. Якість та Швидкість! – це два основних пріоритети в роботі
                команди. В першу чергу звичайно ж Якість. Суші готуються без затримок, одразу ж після Вашого замовлення.
                А завдяки сучасним технологіям та відповідальному навчанню працівників, свіжі страви можливо
                доставляти до 59 хв в 75% замовлень.
            </p>
            <ul class="menu-list">
                <li class="menu-list__item text">висока якість їжі та сервісу</li>
                <li class="menu-list__item text">команда професіоналів</li>
                <li class="menu-list__item text">сучасні технології приготування</li>
            </ul>
        </div>
    </div>
    <div class="acquaintance">
        <div class="img-block">
            <img class="w-100" src="../../../assets/images/img_1127-scaled-568x568.jpg" alt="sushi">
        </div>
        <div class="left-info-block">
            <h3 class="title">Привіт! Познайомимось?</h3>
            <p class="text"><strong>Monosushi</strong> – це доставка найсмачніших суші у Львові, яка
                була створена командою перфекціоністів. Двоє друзів, які обожнюють роли вирішили створити продукт, якого
                їм не вистачало на ринку Львова. Продукт, в якому ідеальним буде все:
                смак, упакування, сервіс і все це за лояльною ціною!</p>
        </div>
    </div>
    <div class="acquaintance">
        <div class="right-info-block">
            <h3 class="title">Наш пріоритет - ваша посмішка від задоволення</h3>
            <p class="text"><strong>Monosushi</strong> – це доставка одного (mono) продукту. Роли вже
                давно стали рядовою стравою, проте процес їх приготування всеодно залишається цілим мистецтвом.
                Суші потрібно готувати за чіткою технологією суворо дотримуючись традицій.
                І в цьому ми справжні експерти! Сумніваєтесь? Тоді замовляйте
                безкоштовну доставку Monosushi і насолоджуйтесь.</p>
        </div>
        <div class="img-block">
            <img class="w-100" src="../../../assets/images/img_8051-scaled-568x568.jpeg" alt="sushi">
        </div>
    </div>
    <div class="advantages">
        <h3 class="advantages__title title">Наші переваги</h3>
        <swiper class="mySwiper" [config]="swiperConfig">
            <ng-template swiperSlide>
                <div class="advantages-item">
                    <div class="advantages-item-img">
                        <img src="../../../assets/icons/advantages-img-1.svg" alt="sushi">
                    </div>
                    <h5 class="advantages-item__title">Свіжі продукти</h5>
                    <p class="advantages-item__text">Наші інгредієнти ще вчора плавали у морі, а сьогодні вже у Ваших
                        сушиках</p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="advantages-item text-center">
                    <div class="advantages-item-img">
                        <img src="../../../assets/icons/advantages-img-2.svg" alt="sushi">
                    </div>
                    <h5 class="advantages-item__title">Неймовірний смак</h5>
                    <p class="advantages-item__text">Ми створили сушики, які змусять Ваші рецептори вибухнути від
                        насолоди</p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="advantages-item text-center">
                    <div class="advantages-item-img">
                        <img src="../../../assets/icons/advantages-img-3.svg" alt="delivery">
                    </div>
                    <h5 class="advantages-item__title">Великі порції</h5>
                    <p class="advantages-item__text">Ми віднайшли ідеальні порції ролів та завжди дотримуємось грамажу
                        вказаного на сайті</p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="advantages-item text-center">
                    <div class="advantages-item-img">
                        <img src="../../../assets/icons/advantages-img-4.svg" alt="purity">
                    </div>
                    <h5 class="advantages-item__title">Чистота на кухні</h5>
                    <p class="advantages-item__text">Ми як ніхто інший розуміємо, що морепродукти потребують абсолютної
                        чистоти на кухні</p>
                </div>
            </ng-template>
        </swiper>
    </div>
    <div class="questions">
        <h3 class="questions__title title">Популярні запитання</h3>
        <div class="accordion">
            <div class="accordion-item">
                <p class="accordion-item__title" #accordion1 (click)="toggleClassActive(accordion1)">Як можна замовити,
                    якщо
                    наша адреса не входить у вашу зону доставки?</p>
                <div class="accordion-inner"
                    [className]="accordion1.classList.contains('active') ? 'accordion-inner active' : 'accordion-inner'">
                    <p class="text mb-3">Якщо ваша адреса знаходиться поза межами нашої зони доставки, ви можете: </p>
                    <ol class="menu-list">
                        <li class="menu-list__item text">Забрати замовлення самовивозом за однією з наших адрес. (В
                            такому випадку
                            ви отримаєте “Запечені моно макі з лососем“ у подарунок).</li>
                        <li class="menu-list__item text">Дізнатись в оператора чи є можливість зробити виключення для
                            доставки поза
                            межі зони в даний момент часу.</li>
                    </ol>
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-item__title" #accordion2 (click)="toggleClassActive(accordion2)">Скільки часу
                    очікувати
                    на замовлення?</p>
                <div class="accordion-inner"
                    [className]="accordion2.classList.contains('active') ? 'accordion-inner active' : 'accordion-inner'">
                    <p class="text">Час доставки залежить від адреси замовлення.<br>
                        Доставка в зелену зону – до 1 год.<br>
                        Доставка в жовту зону – до 1,5 год.</p>
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-item__title" #accordion3 (click)="toggleClassActive(accordion3)">Доставка безкоштовна?</p>
                <div class="accordion-inner"
                    [className]="accordion3.classList.contains('active') ? 'accordion-inner active' : 'accordion-inner'">
                    <p class="text">Так, доставка безкоштовна при мінімальній сумі замовлення 200 грн в зелену зону
                        доставки та 300 грн в жовту зону.</p>
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-item__title" #accordion4 (click)="toggleClassActive(accordion4)">До якої години ви
                    приймаєте замовлення?</p>
                <div class="accordion-inner"
                    [className]="accordion4.classList.contains('active') ? 'accordion-inner active' : 'accordion-inner'">
                    <p class="text">Ми приймаємо замовлення кожного дня з 11:00 по 21:30 ( у зв’язку з
                        комендантською годиною )</p>
                </div>
            </div>
        </div>
    </div>
</div>