@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';
@import '../../shared/styles/common';

.simple {
    .container {
        max-width: 59%;
        margin: 0 auto 120px;

        @include responsive(xxlarge) {
            margin-bottom: 90px;
        }

        @include responsive(xlarge) {
            max-width: 84%;
        }

        @include responsive(large) {
            max-width: 100%;
        }

        @include responsive(medium) {
            margin-bottom: 50px;
        }
    }

    .container>* {
        margin-bottom: 25px;

        @include responsive(medium) {
            margin-bottom: 15px;
        }
    }
}

.acquaintance {
    @include d-flex(center, center);
    margin: 0 auto 120px;

    @include responsive(xxlarge) {
        margin-bottom: 90px;
    }

    @include responsive(large) {
        flex-direction: column;
    }

    @include responsive(medium) {
        margin-bottom: 50px;
    }

    .img-block,
    .left-info-block,
    .right-info-block {
        width: 32%;

        @include responsive(xlarge) {
            width: 42%;
        }

        @include responsive(large) {
            width: 100%;
        }
    }

    .left-info-block {
        padding: 0 15px;
        margin-left: 30px;

        @include responsive(xlarge) {
            margin: 0;
        }

        @include responsive(large) {
            margin-top: 25px;
        }

        @include responsive(medium) {
            margin-top: 15px;
        }
    }

    .right-info-block {
        padding: 0 15px;
        margin-right: 30px;

        @include responsive(xlarge) {
            margin: 0;
        }

        @include responsive(large) {
            margin-bottom: 25px;
        }

        @include responsive(medium) {
            margin-bottom: 15px;
        }
    }

    .img-block {
        margin: 0 15px;
        border-radius: 10px;
        overflow: hidden;
    }

    .title {
        margin-bottom: 25px;

        @include responsive(medium) {
            margin-bottom: 15px;
        }
    }

    strong {
        font-size: 18px;

        @include responsive(medium) {
            font-size: 16px;
        }
    }
}

.advantages {
    width: 76%;
    margin: 0 auto 90px;

    @include responsive(xxlarge) {
        margin-bottom: 60px;
    }

    @include responsive(xlarge) {
        width: 100%;
    }

    @include responsive(medium) {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 60px;
        text-align: center;

        @include responsive(xxlarge) {
            margin-bottom: 40px;
        }

        @include responsive(medium) {
            margin-bottom: 30px;
        }
    }

    .mySwiper {
        padding-bottom: 50px;
        cursor: grab;

        .advantages-item {
            max-width: 240px;
            margin: 0 auto;
            text-align: center;

            &-img {
                @include d-flex(center, center);
                @include square(85px, 85px, $main-color);
                margin: 30px auto 20px;
                border-radius: $brd-radius;

                @include responsive(small) {
                    margin: 0 auto 20px;
                }
            }

            &__title {
                font-size: 20px;
                line-height: 1.7em;
            }

            &__text {
                color: $sec-text-color;
            }
        }
        
        ::before {
            content: "";
            @include absolute(0, -15px);
            @include square(1px, 100%, #dcdcdc);
        }
    }

    .mySwiper:active {
        cursor: grabbing;
    }
}

.questions {
    max-width: 59%;
    margin: 0 auto;

    @include responsive(xlarge) {
        max-width: 84%;
    }

    @include responsive(large) {
        max-width: none;
    }

    &__title {
        margin-bottom: 40px;
        text-align: center;

        @include responsive(medium) {
            margin-bottom: 20px;
        }
    }

    .accordion {
        .accordion-inner {
            max-height: 0;
            padding-right: 30px;
            overflow: hidden;
            transition: .35s;

            @include responsive(medium) {
                padding-right: 5px;
            }
        }

        .accordion-inner.active {
            max-height: 250px;
            padding-bottom: 25px;
        }

        &-item {
            border-bottom: 1px solid #dcdcdc;
            border-left-color: transparent;
            border-right-color: transparent;

            &__title {
                position: relative;
                padding: 32px 20px 37px 0;
                font-family: 'RotondaC-bold';
                @include text($sec-text-color, 20px, 1.2em);
                cursor: pointer;
                transition: 0.35s;

                @include responsive(large) {
                    padding: 22px 20px 27px 0;
                }
            }

            &__title::before {
                content: "";
                position: absolute;
                right: 0;
                top: 40px;
                @include square(8px, 8px, transparent);
                border-left: 2px solid $sec-text-color;
                border-bottom: 2px solid $sec-text-color;
                transform: rotate(-45deg);
                transition: 0.35s;

                @include responsive(large) {
                    top: 28px;
                }
            }

            &__title.active {
                padding-bottom: 24px;
                color: $default-text-color;
            }

            &__title.active::before {
                top: 40px;
                border-color: $default-text-color;
                transform: rotate(-225deg);
            }
        }

        &-item:first-child {
            border-top: 1px solid #dcdcdc;
        }
    }
}