@import '../../shared/styles/fonts';
@import '../../shared/styles/base';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';
@import '../../shared/styles/common';

.basket {
    position: absolute;
    top: 110px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 670px;
    height: max-content;
    max-height: calc(100vh - 110px);
    background-color: #ffffff;
    box-shadow: 7px -5px 9px -5px #6b6b6b;;
    border-radius: 0 0 10px 10px;
    overflow: hidden;

    @media screen and (max-width:1600px) {
        top: 95px;
        max-height: calc(100vh - 95px);
    }

    @include responsive(xlarge) {
        top: 60px;
        height: calc(100vh - 60px);
        max-height: none;
    }

    @include responsive(medium) {
        width: 100%;
    }

    .cart-empty {
        padding: 15px 0;
        text-align: center;

        .cart-empty-img img {
            width: 100px;
        }

        &__title {
            margin-bottom: 15px;
            @include text($default-text-color, 20px, 1.75em);
        }

        &__btn {
            background-color: $main-color;
        }

        &__btn:hover {
            @media screen and(min-width:1200px) {
                background-color: transparent;
                border-color: $main-color;
            }
        }
    }

    .product-group {
        overflow: auto;
    }

    .horiz-card {
        display: flex;
        padding: 9px 20px;

        @include responsive(medium) {
            padding: 5px;
        }

        &-img {
            @include d-flex(center, center);
            @include square(122px, 92px, transparent);

            @include responsive(medium) {
                @include square(102px, 82px, transparent);
            }

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &-description {
            @include d-flex(space-between, center);
            width: 100%;
            padding: 0 10px 0 20px;

            @include responsive(small) {
                display: block;
                padding: 0 10px;
            }

            .card__title {
                font-family: 'RotondaC-bold';
            }

            .card__title:hover {
                color: $main-color;
                transition: all 0.35s;

                @include responsive(xlarge) {
                    color: $default-text-color;
                }
            }

            .controls {
                position: relative;
                @include d-flex(flex-start, center);

                @include responsive(small) {
                    margin-top: 10px;
                }

                .thumb-number {
                    @include d-flex(space-between, center);
                    @include square(110px, 46px, transparent);
                    border: 1px solid #dcdcdc;
                    border-radius: $brd-radius;

                    @include responsive(medium) {
                        @include square(80px, 36px, transparent);
                    }

                    @include responsive(small) {
                        margin-right: auto;
                    }

                    .product-qty {
                        @include square(30px, 44px, transparent);
                        text-align: center;
                        font-size: 24px;
                        font-family: 'RotondaC-bold';
                        border: none;

                        @include responsive(medium) {
                            height: 34px;
                            font-size: 16px;
                        }
                    }

                    .product-qty:focus-visible {
                        outline: none;
                    }

                    .decrement {
                        @include text($default-text-color, 30px, 24px);

                        @include responsive(medium) {
                            padding-bottom: 2px;
                        }
                    }

                    .increment {
                        padding-bottom: 2px;
                        @include text($default-text-color, 24px, 30px);
                    }

                    .decrement,
                    .increment {
                        margin: 5px;
                        @include square(32px, 36px, transparent);
                        border-color: transparent;
                        border-radius: $brd-radius;

                        @include responsive(medium) {
                            margin: 0;
                            @include square(25px, 30px, transparent);
                            font-size: 22px;
                            line-height: 24px;
                        }
                    }

                    .decrement:hover,
                    .increment:hover {
                        background-color: $main-color;
                    }
                }

                .price {
                    width: 90px;
                    margin: 0 5px;
                    text-align: center;

                    span {
                        font-family: 'RotondaC-bold';
                    }
                }

                .horiz-card__btn {
                    position: relative;
                    @include square(14px, 20px, transparent);
                    @include d-flex(center, center);
                    border: none;

                    .trash {
                        position: relative;
                        @include square(14px, 16px, transparent);
                    }

                    .trash::before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: -1px;
                        transform: translate(-50%, 0);
                        @include square(10px, 12px, $sec-text-color);
                        border-radius: 0 0 3px 3px;
                        transition: .35s;
                    }

                    .trash:after {
                        content: '';
                        @include absolute(0, 50%);
                        @include square(100%, 4px, $sec-text-color);
                        transform: translate(-50%, 0);
                        clip-path: polygon(35% 0, 65% 0, 75% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 25% 50%);
                        transition: .35s;
                    }

                    .trash:hover::before,
                    .trash:hover:after {
                        background: $main-color;
                    }

                    .trash:hover:after {
                        top: -4px;
                    }
                }

                .horiz-card__btn:focus-visible {
                    outline: none;
                }
            }
        }
    }

    .horiz-card+.horiz-card {
        border-top: 1px solid #dcdcdc;
    }

    .cart_bottom {
        padding: 20px;
        @include d-flex(space-between, center);

        @include responsive(medium) {
            margin-top: 25px;
        }

        .price {
            @include text($default-text-color, 18px, 1.5em);

            @include responsive(medium) {
                font-size: 16px;
            }

            span {
                font-size: 24px;
                font-family: 'RotondaC-bold';

                @include responsive(medium) {
                    font-size: 20px;
                }
            }
        }

        &__btn {
            background-color: #fff;

            @include responsive(medium) {
                font-size: 14px;
                padding: 10px;
            }
        }

        &__btn:hover {
            @media screen and(min-width:1200px) {
                background-color: transparent;
                border-color: #fff;
            }
        }

        &__btn:disabled {
            color: #6a6a6a;
            background-color: #e1f1ff;
            border-color: #d9ebfc;
        }
    }

    .bg-mono {
        background-image: url('https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg'),
            url('https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg');
        background-color: $main-color;
        background-repeat: repeat;
        background-position: 0 0, 190px -52px;
    }
}
