// swiper
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b5d8f7;
}

::-webkit-scrollbar-thumb:hover {
    background: #6691b9;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

app-admin-action,
app-admin-category,
app-admin-product,
app-admin-order {
    width: 100%;
}

html,
body {
    height: 100%;
}

.offcanvas {
    top: 60px;
    width: 600px;
    border: none;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.offcanvas-backdrop.show {
    top: 60px;
}

.swiper {

    .swiper-slide:nth-child(n+2)::before {
        content: "";
        position: absolute;
        top: 0;
        left: -15px;
        width: 1px;
        height: 100%;
        background-color: #dcdcdc;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 40%;
        width: 50px;
        height: 50px;
        border: solid 2px #ececec;
        border-radius: 50%;

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 18px;
    }

    .swiper-pagination .swiper-pagination-bullet {
        margin: 0 16px;
    }

    .swiper-pagination-bullet-active {
        background-color: #b5d8f7;
    }
}