<div class="cards-group">
        <div *ngFor="let product of products" class="card border-hover">
            <div class="card-image">
                    <img [src]="product.imagePath === undefined ? 'assets/images/no-image-found.png' : product.imagePath"
                        class="card-image__img" alt="product" [routerLink]="['/product/'+product.category.path, product.id]">
            </div>
            <div class="card-body">
                <h3 class="card__title" [routerLink]="['/product/'+product.category.path, product.id]">{{product.name}}</h3>
                <div class="card-info-block mb-2">
                    <p class="card-composition">{{product.description}}</p>
                    <span class="card-weight">{{product.weight}} г</span>
                </div>
                <div class="card-info-block align-items-center">
                    <p class="card-price"><span class="price">{{product.price * product.count}}</span> грн</p>
                    <div class="thumb-number">
                        <button (click)="productCount(product, false)" type="button" class="decrement">-</button>
                        <input [value]="product.count" readonly="" class="product-qty" tabindex="-1" max="999">
                        <button (click)="productCount(product, true)" type="button" class="increment">+</button>
                    </div>
                    <button (click)="addToBasket(product)" type="button" class="button card__btn">Замовити</button>
                </div>
            </div>
        </div>
    </div>
