<div class="container">
    <ul class="breadCrumb">
        <li class="breadCrumb__item"><a class="breadCrumb__link" [routerLink]="['/']">Головна</a></li>
        <li class="breadCrumb__item"><a class="breadCrumb__link" [routerLink]="['/actions']">Акції</a></li>
        <li class="breadCrumb__item"><a class="breadCrumb__link">{{actionDetails.name}}</a></li>
    </ul>
    <div class="mini-baner">
        <div class="center-block">
            <h2 class="mini-baner__title">{{actionDetails.title}}</h2>
        </div>
    </div>
    <div class="content-block" [innerHtml]="actionDetails.description"></div>
</div>
